*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #191919;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr auto;    
}

main{
    flex-grow: 1;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

nav .logo{
    width: 140px;
    font-size: 35px;
    color: white;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    position: relative;
}

.nav-links{
    list-style: none;
    align-items: center;
    gap: 3rem;
    color: #fff;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
}
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: aqua;
    transition: all 0.5s ease; /* Hastighet på hover */
}
.link a:hover:after{
    width: 80%;   /* Längden på underlinje */
}
.om-mig{
    width: 100%;
    background-color: #191919;
    padding: 78px 0px;

}

.om-mig img{
    height: auto;
    width: 420px;
    border-radius: 10px;

}

.om-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.om-text h1{
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: aqua;
    font-weight: bold;
}
.om-text h5{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}
.om-text span{
    color: aqua;
}

.om-mig p{
    color: white;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
}
footer {
    padding: 40px 0;
    color: white;
    background: black;
    margin-top: auto;
  }
  
  footer li {
    float: left;
    padding: 0 10px;
    list-style: none;
  }
  
  footer a {
    color: white;
  }
  
  footer p {
    float: right;
  }
  /*Phone/tablet navigation*/
/* .mobile-container {
  display: none;
} */
.burger-navigator{
    display: flex;
  }
  .mobile-nav{
    display: none;
  }
  .mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-link a {
    position: relative;
    padding-bottom: 0.75rem;
  }
  .mobile-link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: aqua;
    transition: all 0.5s ease; /* Hastighet på hover */
  }
  .mobile-link a:hover:after {
    width: 80%; /* Längden på underlinje */
  }
  
  .hamburger {
    position: relative;
    display: none;
    width: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }
  
  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.5s;
  }
  
  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-3px, 3px);
  }
  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-8px, -9px);
  }
  
  .hamburger.is-active .bar {
    opacity: 0;
  }
  
  @media (max-width: 768px) {
    .header-nav {
      display: none;
    }
    .hamburger {
      display: block;
      position: relative;
      right: 0;
    }
    .mobile-nav {
      display: none;
    }
    .mobile-logo {
      right: 0;
      position: absolute;
      text-align: center; 
      font-size: 24px; 
      color: #fff; 
      margin-top: 20px; 
    }
  }